html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}

body{background-color:#4e6c84; height: 100%;  font-size: 14px; font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;}
.wrapper{background: none; min-height: 100%; _height: 100%;}
.content-wrapper{ width:740px; margin:0 auto; height:auto;}

.header {margin-top:80px;}
.logo {color: #eee; font-size: 250%;}
.top-links{float:right; margin-right:10px; margin-top:15px; line-height:20px;}
.top-links a { color:#eee; text-decoration:none; margin-left: 20px;}

.main-content{position:relative; width:620px; padding-top: 10px; padding-bottom: 20px; padding-left:60px; padding-right:60px; margin-top:10px; margin-bottom:10px; background-color:#fff; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.header-image {position:relative; left:-60px; top:-10px; width:740px; background-color: #FFBC00; padding-top:20px; padding-bottom: 20px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.main-content h2{ font-size:24px; margin-bottom:20px; margin-top:20px;}
.main-content h3{ font-size:18px; margin-bottom:20px; margin-top:20px;}
.main-content p{ font-size:14px; margin-bottom:20px; margin-top:20px;color:#4e6c84;}
.main-content li{margin-top: 10px; margin-left: 50px; font-size:18px; color:#4e6c84}
.thumbnail {width:100px;height:100px;margin:10px;}

.section-image{width:500px; background-color: #d5f1f7; margin-left:40px; margin-right:40px; padding:10px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}

.footer {color:white; padding-top: 20px; padding-bottom: 20px;}

.side-bar{float:right; margin-top:10px; width:280px; height:500px; background-color: #fff; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}

.app-section {margin-bottom: 0px;}
.app-image {margin-right: 10px; width: 320px;}
.app-desc {position:relative; left:340px; top:-320px; width: 280px; height:200px; margin-bottom: -170px;}